:root {
  --bg: #1f1f1f;
  --c1: #874356;
  --c2: #f68989;
  --c3: #f8f4f0;
  --c4: #c1f8cf;
  --text1: #222222;
  --text2: #fdf6ec;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
